# env & config
venv
.env
.env.*
!.env.example
*.secret
*.key
*.pem
*.pfx
*.keystore
firebase*.json
serviceAccountKey.json
**/.venv/
**/venv/


# app caches
__pycache__/
**/node_modules/
**/dist/
**/out/
**/.DS_Store
**/release/

# MaxMind DBs
intellicloud-backend/data/*.mmdb
